<h1>Welcome, <%= $current_user.username %>!</h1>
<p>A place where you can gush your heart out.</p>

<div>
	<%= erb :_post %>
</div>

<section>
	<h2>Gush Feed</h2>
	<% $current_user.following.each do |followee| %>
		<% followee.posts.each do |post| %>
			<%= post %>
		<% end %>
	<% end %>
</section>

<section>
	<h2>Suggested Gushes</h2>
	<% $users.each do |user| %>
		<div class='post'>
			<h4><%= user.username if user != $current_user%></h4>
			<%= user.posts.sample if user != $current_user %>
		</div>
	<% end %>
</section>

