<h1>Welcome, <%= $current_user.username %>!</h1>
<p>A place where you can gush your heart out.</p>

<div>
	<%= erb :_post %>
</div>

<section>
	<h2>Your Gush Feed</h2>
	<% @all_gushes.each do |time, hash| %>
		<div class='gush'> 
			<h3><%= hash.keys.join %></h3>
			<%= hash.values.join %>
		</div>
		<br />
	<% end %>
</section>

<section>
	<h2>Suggested Gushes</h2>
	<% $users.each do |user| %>
		<% if user != $current_user && user.posts.any? %>
			<div class='gush'>
				<h4><%= user.username %></h4>
				<%= user.posts.to_a.sample[1] %>
				<% unless $current_user.following.include?(user) %>
					<form action="/follow" method="post">
						<input type="hidden" name="user" value=<%= user.username %>>
						<input type="submit" value="Follow this Gusher">
					</form>
				<% end %>
			</div>
		<% end %>
		<br />
	<% end %>
</section>

